Source: freedv
Section: hamradio
Priority: optional
Maintainer: Debian Hamradio Maintainers <debian-hams@lists.debian.org>
Uploaders: A. Maitland Bottoms <bottoms@debian.org>
Build-Depends: cmake,
               debhelper-compat (= 13),
               libcodec2-dev (>= 0.9),
               libhamlib-dev,
               libpulse-dev,
               libsamplerate-dev,
               libsndfile-dev,
               libspeexdsp-dev,
               libwxgtk3.2-dev,
               portaudio19-dev
Standards-Version: 4.6.2
Rules-Requires-Root: no
Homepage: https://freedv.org/
Vcs-Browser: https://salsa.debian.org/debian-hamradio-team/freedv
Vcs-Git: https://salsa.debian.org/debian-hamradio-team/freedv.git

Package: freedv
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Digital Voice mode for ham radio
 FreeDV is a digital voice mode intended for transmission and
 reception over high-frequency (HF) radio. It uses a frequency
 division multiplex (FDM) modem with 15 carriers and no forward error
 correction (FEC). A low bit-rate voice coder-decoder (Codec 2)
 provides voice quality without the listener fatigue caused by noise
 and interference normally associated with analog single sideband
 (SSB) voice. A HF SSB transceiver, personal computer and two sound
 cards are required. Path simulation and on-the-air HF testing have
 shown that decoding voice is possible at a signal-to-noise ratio of
 4 dB.
 .
 The FreeDV software was developed by David Rowe (Codec 2, FDM
 modem implementation, integration) and David Witten (GUI,
 architecture design). The FreeDV design and user interface was based
 on the earlier FDMDV program which was developed by Francesco
 Lanza. The FDM modem design and development was supported from Peter
 Martinez.
